<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengbiaoedu.mapper.LabClockInMapper">
    <!--根据打卡人id 和 打卡时间 查询最近需要打卡的信息-->
    <select id="getByIdAndTime" resultType="ScheduleStudentScore">
        SELECT *,ABS( #{thisTime} - stipulate_sginin_time) AS diffTime FROM schedule_student_score
        WHERE submitter_id = (SELECT id from `user` WHERE id=#{userId})
        ORDER BY diffTime DESC LIMIT 0,1
    </select>

    <!--更新学生打卡信息-->
    <update id="save" parameterType="ScheduleStudentScore">
        UPDATE schedule_student_score SET signin = #{signin},signin_time= #{signinTime},update_time = #{updateTime} WHERE schedule_student_score_id = #{scheduleStudentScoreId}
    </update>
    
    <!--根据打卡人id 和 打卡时间 查询最近需要打卡的信息-->
    <select id="getByIdAndClockinTime" resultType="ScheduleStudentScore">
        SELECT schedule_student_score.*,el.clockIn_id as clockinId,ABS( TIMESTAMPDIFF (MINUTE ,#{thisTime},stipulate_sginin_time)) AS diffTime  FROM schedule_student_score
        INNER JOIN course_schedule AS  cs
		ON cs.schedule_id = schedule_student_score.schedule_id
		INNER JOIN experiment_lab AS el
		ON  cs.lab_id =el.lab_id
        WHERE submitter_id = (SELECT id from `user` WHERE id=#{userId})
				AND ABS( TIMESTAMPDIFF (MINUTE ,#{thisTime},stipulate_sginin_time)) &lt; #{minuteDiffer}
        ORDER BY diffTime ASC LIMIT 0,2
    </select>
</mapper>